.container-grid {
  padding: 2em;
  width: 90em;
  max-height: 45em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.column {
  border: 2px red solid;
  padding: 2em;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.first-column {
  justify-content: start;
}
.second-column {
}
