.container-grid {
  padding: 2rem;
  width: 90rem;
  max-height: 60rem;
  min-height: 'fit-content';
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: white;
  text-transform: capitalize;
}

.column {
  border: 2px red solid;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.first-column {
  position: relative;
}

.weather-today-logo {
  height: 3rem;
  position: absolute;
}
.second-column {
  display: grid;
  grid-template-columns: 55% 1fr;
  /*  grid-template-rows: 30% 1fr 20%; */
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
}
.full-width {
  grid-column: 1 / -1; /* Span the entire row */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}
.full-width h3 {
  font-size: 2rem;
  font-weight: 500;
}
.full-width span {
  margin-left: 0.2em;
  text-transform: none;
  font-weight: 300;
}

.second-row-first-column {
  grid-column: 1; /* First column */
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.second-row-second-column {
  grid-column: 2; /* Second column */
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 900px) {
  .container-grid {
    grid-template-columns: 1fr;
  }
}
