@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi'),
    url('./assets/fonts/Satoshi-Variable.ttf') format('opentype');

  /* ===========================CSS RESET=========================== */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  height: 100%; /* Ensure the html and body elements cover the full viewport height */
  margin: 0;
  padding: 0;
}
body {
  min-width: 350px;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
p {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ===========================LOADER=========================== */

.loader {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: radial-gradient(circle 15px, #ffd738 90%, #0000);
  filter: drop-shadow(0px 0px 1px #ffd738);
  animation: l2 1s infinite alternate linear;
  align-self: center;
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  --g: no-repeat linear-gradient(#ffd738 0 0) 50%;
  background: var(--g) / 100% 5px, var(--g) / 5px 100%;
  -webkit-mask: radial-gradient(farthest-side, #0000 60%, #000 61%);
}
.loader::after {
  transform: rotate(45deg);
}
@keyframes l2 {
  100% {
    filter: drop-shadow(0px 0px 20px #ffd738);
  }
}
/* ===========================GENERAL=========================== */
:root {
  font-family: Satoshi, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: fit-content;
  margin: 0 auto;
  will-change: filter;
  transition: filter 300ms;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: #ffffff;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ===========================HOME SCREEN=========================== */
.background-container {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.center-container {
  width: 60rem;
  max-height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(2rem, 5vw, 5rem);
}

.home-logo {
  height: 4.7rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.input-container {
  margin: 0;
}
.input-container h1 {
  font-size: clamp(2rem, 2.344vw, 2.5rem);
}

.city-input {
  height: clamp(2rem, 2.344vw, 2.5rem);
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.3rem;
  text-align: center;
}
.main-header {
  margin: 0;
  margin-bottom: 25px;
  color: white;
  line-height: 1.1;
  text-align: center;
  font-weight: 200;
}
/* ===========================WEATHER TODAY=========================== */
.container-grid {
  padding: 2rem;
  width: 90rem;
  max-height: 60rem;
  min-height: 'fit-content';
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: white;
  text-transform: capitalize;
}

.column {
  border: 2px red solid;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
/* FIRST COLUMN */
.first-column {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.weather-today-logo {
  height: 5rem;
  margin: 0;
}

.weather-icon-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.weather-icon {
  height: 10rem;
  font-weight: 400;
}
.weather-icon-description {
  font-size: clamp(2.7rem, 2.708vw, 3.25rem);
  font-weight: 400;
}
.first-column-weather-information h1 {
  margin-top: 2rem;
  font-size: clamp(6rem, 7.292vw, 8.75rem);
  font-weight: 900;
  text-wrap: nowrap;
}
.first-column-weather-information h2 {
  font-size: clamp(3.5rem, 3.125vw, 3.75rem);
}
.first-column-weather-information p {
  font-size: clamp(2rem, 2.083vw, 2.5rem);
}
.second-column {
  display: grid;
  grid-template-columns: 55% 1fr;
  /*  grid-template-rows: 30% 1fr 20%; */
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
}
.full-width {
  grid-column: 1 / -1; /* Span the entire row */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}
.full-width h3 {
  font-size: 2rem;
  font-weight: 500;
}
.full-width span {
  margin-left: 0.2em;
  text-transform: none;
  font-weight: 300;
}

.second-row-first-column {
  grid-column: 1; /* First column */
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.second-row-second-column {
  grid-column: 2; /* Second column */
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 900px) {
  .container-grid {
    grid-template-columns: 1fr;
  }
}
